* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #001e4d;
}
.startContainer {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: 170px;
    background-color: aliceblue;
    margin: 200px 530px;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 0 5cap #aca2a2;
}
.startContainer h2{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-shadow: 0 0 16px #5d5c5c;
    padding: 30px 55px;
}
.startContainer .start {
    font-size: 20px;
    font-weight: 600;
    width: 125px;
    padding: 4px;
    margin: 0px 110px 10px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #d6d6d6;
    cursor: cell;
}
.startContainer button:hover {
    transform: scale(1.06);
    transition: 0.5s ease-in-out;
}
.container {
    display: none;
    width: 600px;
    height: 450px;
    outline: none;
    border: 0px solid #fff;
    border-radius: 8px;
    margin-left: 400px;
    margin-top: 110px;
    background-color: aliceblue;
    box-shadow: 0 0 10px #aca2a2;
    scroll-behavior: smooth;
}
.header {
    display: flex;
    justify-content: start;
    align-items: center;
    outline: none;
    padding-left: 30px;
    padding-top: 5px;
    height: 70px;
    width: 100%;
    background-color: #d6d6d6;
    box-shadow: 0 0 10px  #aca2a2;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    gap: 300px;
}
.header p{
    font-size: 22px;
    font-weight: 500;
    text-shadow: 0 0 10px #5d5c5c;       
}
.main p {
    width: 55   0px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    padding: 20px 20px 10px 20px;
    text-shadow: 0 0 10px #5d5c5c;
}
.main .answers {
    display: grid;
    justify-content: start;
    align-items: start;
    padding-left: 45px;
    padding-top: 40px;
    gap: 20px;
}   
.answers .btn {
    justify-content: start;
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
    width: 500px;
    height: 40px;
    background-color: #d6d6d6;
    border: 1px solid black;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 8px #aca2a2;
}
.answers .btn:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: 35px;
    background-color: #d6d6d6;
    gap: 20px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 10px  #aca2a2;
}
.previous {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 15px #5d5c5c;
    padding: 6px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: 0 0 8px #aca2a2;
    cursor: pointer;
}
.previous:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}
.next {
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 15px #5d5c5c;
    padding: 6px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: 0 0 8px #aca2a2;
    cursor: pointer;
}
.next:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}
.finish {
    display: none;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 15px #5d5c5c;
    padding: 6px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: 0 0 8px #aca2a2;
    cursor: pointer;
}
.finish:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}

/* ! Think about opening container */


.endContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 200px;
    margin: 200px 480px;
    background-color: aliceblue;
    gap: 10px;
    border-radius: 8px;
}
.endContainer h2 {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 0 15px #5d5c5c;
    padding-bottom: 10px;
}
.endContainer p {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    text-shadow: 0 0 13px #494848;
    padding-bottom: 13px;
}
.endContainer button {
    font-size: 20px;
    font-weight: 600;
    width: 125px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: #d6d6d6;
    cursor:cell;
}
.endContainer button:hover {
    transform: scale(1.03);
    transition: 0.5s ease-in-out;
}